/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container-wide{
  width: 85%;
  max-width: 1500px;
  margin: auto;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

/* buttons */
.btn{
  padding: 5px 20px;
  background-color: #0061ff;
  color: #ffffff;
  text-decoration: none;
  line-height: normal;
  display: inline-block;
}

.btn-white{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* typo */
.hero h1{
  font-size: 85px;
}

h3{
  font-size: 25px;
}

.font-small{
  font-size: 0.80em;
}

.margin-bt-10px{
  margin-bottom: 10px;
}

.margin-bt-20px{
  margin-bottom: 20px;
}

.margin-bt-30px{
  margin-bottom: 30px;
}

.margin-bt-40px{
  margin-bottom: 40px;
}

.margin-bt-50px{
  margin-bottom: 50px;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #d0d0d3;
  z-index: 10;
}

.header-left, .header-right{
  width: 50%;
}

.header-right{
  text-align: right;
}

.main-menu, .main-menu li, .main-menu a{
  display: inline-block;
}

header li{
  margin-left: 30px;
}

.main-menu a{
  line-height: 80px;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
}

header .logo{
  vertical-align: middle;
}

header a.btn{
  color: #ffffff;
  line-height: normal;
}

/* main */
.hero{
  margin-top: 80px;
  background-color: #b4d0e7;
}

.hero .container-wide{
  padding-top: 130px;
}

.hero-bottom{
  position: relative;
  bottom: -85px;
}

.hero-text{
  width: 25%;
}

.hero-text p{
  margin-bottom: 30px;
}

.hero-text a{
  display: inline-block;
  margin-bottom: 10px;
}

.hero img{
  width: 65%;
  margin-left: 10%;
}

.arrow{
  display: inline-block;
  margin-top: 40px;
  font-size: 35px;
}

/* plan */
.plan .container{
  margin-top: 200px;
}

.plan h2{
  font-size: 45px;
  margin-bottom: 60px;
}

.plan .billing{
  margin-bottom: 40px;
}

.billing label{
  margin-right: 20px;
}

.plan-row{
  width: 100%;
}

.plan-row .col{
  width: calc((100% - 10%) / 3);
  height: 1100px;
  border: 1px solid #e4e4e6 ;
}

.plan-row .col-center{
  margin: 0 5%;
}

.col .client, .enterprise .client{
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #e4e4e6;
}

.plan .col-container{
  width: 100%;
  padding: 40px 30px;
}

.plan .col h3{
  margin-bottom: 25px;
}

.plan .col .frequency{
  color: #73818e;
}

.plan .btn{
  width: 100%;
  text-align: center;
}

.plan .col .buy-now span:first-child{
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e6;
  margin-bottom: 30px;
  display: inline-block;
}

.plan .col .link{
  color: #0061ff;
  text-decoration: underline;
}

.plan .benefits li{
  margin-bottom: 20px;
  list-style: none;
}

.plan .benefits li::before{
  content: "\f00c";
  color: #0061ff;
  margin-right: 5px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}


.enterprise{
  width: 100%;
  border: 1px solid #e4e4e6;
}

.enterprise-text{
  width: 70%;
}

.enterprise-right{
  width: 30%;
}

/* partner */
.partner{
  padding-top: 100px;
}

.partner .partner-img{
  width: 55%;
}

.partner .partner-text{
  width: 40%;
  margin-left: 5%;
  padding-top: 50px;
}
