/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container-wide{
  width: 85%;
  max-width: 1500px;
  margin: auto;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: auto;
}

.link{
  color: #0061ff;
  text-decoration: underline;
}

.separator{
  border-bottom: 1px solid #dfdfe0;
  width: 10%;
  margin: 30px 0 50px;
}

/* buttons */
.btn{
  padding: 5px 20px;
  background-color: #0061ff;
  color: #ffffff;
  text-decoration: none;
  line-height: normal;
  display: inline-block;
  text-align: center;
}

.btn-white{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.borderless{
  border: none;
}

/* typo */
.hero h1{
  font-size: 85px;
}

.plan h2, .operations h2, .free-trial h2{
  font-size: 45px;
  margin-bottom: 60px;
}

h3{
  font-size: 25px;
}

.font-small{
  font-size: 0.80em;
}

.strong{
  font-weight: bold;
}

.margin-bt-10px{
  margin-bottom: 10px;
}

.margin-bt-20px{
  margin-bottom: 20px;
}

.margin-bt-30px{
  margin-bottom: 30px;
}

.margin-bt-40px{
  margin-bottom: 40px;
}

.margin-bt-50px{
  margin-bottom: 50px;
}

/* header */
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #d0d0d3;
  z-index: 10;
}

.header-left, .header-right{
  width: 50%;
}

.header-right{
  text-align: right;
}

.main-menu, .main-menu li, .main-menu a{
  display: inline-block;
}

header li{
  margin-left: 30px;
}

.main-menu a{
  line-height: 80px;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
}

header .logo{
  vertical-align: middle;
}

header a.btn{
  color: #ffffff;
  line-height: normal;
}

/* main */
.hero{
  margin-top: 80px;
  background-color: #b4d0e7;
}

.hero .container-wide{
  padding-top: 130px;
}

.hero-bottom{
  position: relative;
  bottom: -85px;
}

.hero-text{
  width: 25%;
}

.hero-text p{
  margin-bottom: 30px;
}

.hero-text a{
  display: inline-block;
  margin-bottom: 10px;
}

.hero img{
  width: 65%;
  margin-left: 10%;
}

.arrow{
  display: inline-block;
  margin-top: 40px;
  font-size: 35px;
}

/* plan */
.plan .container{
  margin-top: 200px;
}

.plan .billing{
  margin-bottom: 40px;
}

.billing label{
  margin-right: 20px;
}

.plan-row{
  width: 100%;
}

.plan-row .col{
  width: calc((100% - 10%) / 3);
  min-height: 1100px;
  border: 1px solid #e4e4e6 ;
}

.plan-row .col-center{
  margin: 0 5%;
}

.col .client, .enterprise .client{
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #e4e4e6;
}

.plan .col-container{
  width: 100%;
  padding: 40px 30px;
}

.plan .col h3{
  margin-bottom: 25px;
}

.plan .col .frequency{
  color: #73818e;
}

.plan .col .details li{
  margin-bottom: 30px;
  list-style: none;
  text-indent: -10px;
  padding-left: 22px;
}


.plan .btn{
  width: 100%;
}

.plan .col .buy-now span:first-child{
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e6;
  margin-bottom: 30px;
  display: inline-block;
}

.plan .benefits li{
  margin-bottom: 20px;
  list-style: none;
  text-indent: -21px;
  padding-left: 20px;
}

.plan .benefits li::before{
  content: "\f00c";
  color: #0061ff;
  margin-right: 5px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}


.enterprise{
  width: 100%;
  border: 1px solid #e4e4e6;
}

.enterprise-text{
  width: 70%;
}

.enterprise-right{
  width: 30%;
}

/* partner */
.partner{
  padding-top: 100px;
}

.partner .partner-img{
  width: 55%;
}

.partner .partner-text{
  width: 40%;
  margin-left: 5%;
  padding-top: 50px;
}

/* operations */
.operations h2{
  padding-top: 80px;
}

.operations .operations-row{
  width: 100%;
  margin-bottom: 80px;
}

.operations .card{
  width: calc((100% - 10%) / 3);
}

.operations .card img{
  width: 100%;
}

.operations .card.card-center{
  margin: 0 5%;
}

.operations .card h3{
  margin-bottom: 20px;
}

/* teams */
.teams{
  margin-top: 200px;
}

.teams-title{
  width: 60%;
}

.teams-title h2{
  font-size: 45px;
}

.teams .teams-container{
  margin-top: 50px;
  width: 100%;
  background-color: #f5f5f5;
}

.teams .col-left, .teams .col-right{
  width: 30%;
}

.teams .col-center{
  width: 40%;
  height: 100%;
}

.teams .teams-row{
  width: 100%;
}

.teams .square-container{
  position: relative;
  width: 50%;
  padding-top: 50%;
}

.teams .square-container img{
width: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
}

.teams .square-container.designit{
  background-color: #a2d39b;
}

.teams .square-container.asu{
  background-color: #61082b;
}

.teams .square-container.uf{
  background-color: #0093ce;
}

.teams .square-container.topps{
  background-color: #ff1c1c;
}

.teams .square-container.wbr{
  background-color: #d5001f;
}

.teams .square-container.hc{
  background-color: #b4d0e7;
}

.teams .square-container.lp{
  background-color: #0d2481;
}

.teams .square-container.cco{
  background-color: #ffd830;
}

.teams .col-center-container{
  padding: 8%;
}

.teams .col-center img{
  width: 30%;
}

/* free trial */
.free-trial{
  padding: 100px 0;
  background-color: #b4d0e7;
}

.free-trial-text{
  width: 50%;
}
.free-trial-text h2{
  color: #61082b;
  margin-bottom: 0;
}

.free-trial-btn{
  width: 50%;
  text-align: right;
}

.free-trial-btn a{
  width: 60%;
}

/* FAQ */
.faq .container{
  padding: 100px 0 125px;
}

.faq h2{
  font-size: 30px;
  margin-bottom: 60px;
}

.faq li{
  list-style: none;
  line-height: 80px;
  border-bottom: 1px solid #dfdfe0;
}

.faq li:first-child{
  border-top: 1px solid #dfdfe0;
}

.faq li i{
 line-height: 80px;
 margin-right: 20px;
}

/* footer */
footer{
  padding: 100px 0 40px;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.80em;
}

.footer-top{
  width: 100%;
  margin-bottom: 100px;
}

footer .col{
  width: 20%;
}

footer h3{
  margin-bottom: 15px;
}

footer .col li{
  list-style: none;
  margin-bottom: 5px;
}

footer .col a{
  text-decoration: none;
  color: #ffffff;
}

.language, footer .separator{
  color: #999999;
  border-color: #999999;
}

footer .language{
  cursor: pointer;
  display: inline-block;
}

/* hover */
header a:hover{
  background-color: #e9e9e9;
  line-height: 50px;
}

a.btn:hover{
  background-color: #4a90ff;
  line-height: normal;
}

a.btn-white:hover{
  background-color: #e9e9e9;
  line-height: normal;
}

.hero .arrow:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.teams .square-container:hover{
  border: 10px solid rgba(248,248,248, 0.5);
  padding-top: calc(50% - 20px);
  cursor: pointer;
}

.faq li:hover{
  background-color: #e9e9e9;
  cursor: pointer;
}

